body {
  background: url('https://cdn.wallpapersafari.com/48/71/DJbO57.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: #dcc2ee;
  text-shadow: 5px 5px 10px black;
}

#calculator {
  width: 300px;
  background: #dcc2ee;
  box-shadow: 5px 5px 8px grey;
}

#display {
  height: 80px;
  padding: 8px;
  font-family: 'Orbitron', sans-serif;
  text-align: right;
  background: lightgrey;
  box-shadow: 5px 5px 10px grey,
              1px 1px 10px silver inset,
              -1px -1px 10px silver inset;
}

#input, #answer {
  font-size: 2rem;
}

#formula-container {
  height: 1.5rem;
}

#formula {
  overflow: hidden;
}

#formula p {
  min-width: max-content;
}

i {
  cursor: pointer;
}

.fa-angle-left {
  margin-left: -273px;
  margin-top: 4px;
}

.fa-angle-right {
  margin-left: -10px;
  margin-top: 4px;
}

.down {
  bottom: -25px;
}

.btn {
  box-shadow: 5px 5px 10px grey;
}

.btn:hover, .btn:active {
  box-shadow: none;
}

footer {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

#buttons {
  height: 350px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template: "clear divide multiply subtract"
                 "seven eight nine add"
                 "four five six add"
                 "one two three equals"
                 "zero zero decimal equals";
}

#zero { grid-area: zero; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#decimal { grid-area: decimal; }
#add { grid-area: add; }
#subtract { grid-area: subtract; }
#multiply { grid-area: multiply; }
#divide { grid-area: divide; }
#equals { grid-area: equals; }
#clear { grid-area: clear; }
